<div class="jumbotron text-center">
  <h1><%= @beer.name %></h1>
</div>
<div class="page-header lead text-center">
  <h3>Cheese Pairing Suggestions</h3>
  <em>Remember to upvote the pairings you love, and downvote the ones you don't.</em>
</div>
<% @pairings.each do |pairing| %>
  <div class="list-group text-center">
    <h3 class="list-group-item item">
      + <%= link_to pairing.cheese.name, cheese_path(pairing.cheese_id) %>
      <%= render partial: 'votes/voter', locals: { pairing: pairing } %>
      <%= render partial: 'likes/like', locals: { pairing: pairing } %>
    </h3>
  </div>
<% end %>
<div class="text-center">
  <%= link_to "Back To Search", root_path, :class => "btn btn-success" %>
</div>
